body {
    counter-reset: h2counter;
    background-color: #e0e0eb;
}

h1 {
    counter-reset: h2counter;
}

h2 {
    counter-reset: h3counter;
}

h2:before {
    content: counter(h2counter) ". ";
    counter-increment: h2counter;
}

h3:before {
    content: counter(h2counter) "." counter(h3counter);
    counter-increment: h3counter;
}
